# Tudo Sobre Loops em Python – Tutorial Rápido e Detalhado

## Seção 1: Loops Básicos

#### Loop for Simples

In [ ]:
for i in range(5, -1, -1):
    print(f"Número: {i}")

#### Loop while

In [1]:
x = 0
while x <= 5:
    print(f"Contagem: {x}")
    x += 1

Contagem: 0
Contagem: 1
Contagem: 2
Contagem: 3
Contagem: 4
Contagem: 5

#### Usando Condições no Loop

In [2]:
numeros = [1, 2, 3, 4, 5]
for num in numeros:
    if num % 2 == 0:
        print(f"Número par: {num}")

Número par: 2
Número par: 4

## Seção 2: Loops Intermediários

#### Usando enumerate

In [3]:
frutas = ['maçã', 'banana', 'cereja']
for idx, fruta in enumerate(frutas):
    print(f"{idx}: {fruta}")

0: maçã
1: banana
2: cereja

#### Iteração Paralela com zip

In [4]:
nomes = ['Alice', 'Bob']
idades = [25, 30]
for nome, idade in zip(nomes, idades):
    print(f"{nome} tem {idade} anos")

Alice tem 25 anos
Bob tem 30 anos

#### Iterando Sobre Dicionários

In [5]:
dados = {'nome': 'Alice', 'idade': 25, 'cidade': 'São Paulo'}
for chave, valor in dados.items():
    print(f"{chave}: {valor}")

nome: Alice
idade: 25
cidade: São Paulo

In [6]:
dados.items()

dict_items([('nome', 'Alice'), ('idade', 25), ('cidade', 'São Paulo')])

## Seção 3: Trabalhando com DataFrames (pandas)

#### Iterando com iterrows

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sonata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\sonata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\sonata\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\sonata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sonata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [8]:
import pandas as pd

df = pd.DataFrame({'nome': ['Alice', 'Bob'], 'idade': [25, 30]})
df

    nome  idade
0  Alice     25
1    Bob     30

In [9]:
for index, row in df.iterrows():
    print(f"Nome: {row['nome']}, Idade: {row['idade']}")
    print(f"{row['idade'] + 10}")

Nome: Alice, Idade: 25
35
Nome: Bob, Idade: 30
40

#### Usando apply para Eficiência

In [14]:
def soma_idade(x):
    return x + 20

In [15]:
df['nova_idade'] = df['idade'].apply(soma_idade)
df

    nome  idade  nova_idade
0  Alice     25          45
1    Bob     30          50

#### Agrupando Dados com groupby

In [16]:
df = pd.DataFrame({'grupo': ['A', 'B', 'A'], 'valor': [10, 20, 30]})
df

  grupo  valor
0     A     10
1     B     20
2     A     30

In [17]:
for grupo, sub_df in df.groupby('grupo'):
    print(f"Grupo: {grupo}")
    print(sub_df)
    print("________________")

Grupo: A
  grupo  valor
0     A     10
2     A     30
________________
Grupo: B
  grupo  valor
1     B     20
________________

## Seção 4: Paralelismo com multiprocessing

#### Paralelismo Básico

In [18]:
from concurrent.futures import ThreadPoolExecutor

def trabalho(x):
    return x**2

with ThreadPoolExecutor(max_workers=4) as executor:
    resultados = list(executor.map(trabalho, range(10)))

print(resultados)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
_ = """

1 Processo: [0] -> [1] -> [2] -> [3] -> [4] -> [5] -> [6] -> [7] -> [8] -> [9]

4 Threads: 
Thread 1: [0] ----> [4] ----> [8]
Thread 2: [1] ----> [5] ----> [9]
Thread 3: [2] ----> [6]
Thread 4: [3] ----> [7]

"""